---
title: My Projects
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 1
---

<style>
  h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
  }
  h3 {
    font-size: 18px;
    font-weight: bold;
  }
  h2, h3, p, iframe {
    padding-bottom: 10px;
  }
</style>

<h2>2017-2019</h2>
<h3>FIRST Robotics Deep Space Competition (2019)</h3>
<p>I joined <a href="https://en.wikipedia.org/wiki/FIRST_Robotics_Competition" style="color: blue; text-decoration: underline;">  FIRST </a> (For Inspiration and Recognition of Science and Technology) </a>, one of my high school's robotics teams, in 2017. 
I became the lead programmer in 2019, and this year was great because with the help of the junior programmers we were able to make new control innovations. We were able to  make our robot accelerate smoother, which reduced the wear on the drive train and allowed for more precise driver control.</p>

<p>Here was how the robot was moving before:</p>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/eqUCHPoS_kQ" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>

<p>Here was how the robot was moving after:</p>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/CEP5GKISwdo?start=15" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>

<p>Also, our robot also had a metal arm with a hook that would move up and down to place a disk (placing disks was one way of <a href = "https://www.youtube.com/watch?v=Mew6G_og-PI" style = "color: blue; text-decoration: underline;">
scoring points </a>):<br /></p>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/uCPmc6o9elE?start=94" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>

<p>Unfortunately, the 3D printed spool holding the wire in the video broke <em>right before competition!</em>. I MacGyvered a more durable spool replacement: I took two <a href ="https://www.andymark.com/products/500ex-hex-hub" style ="color: blue; text-decoration: underline;"> wheel hubs </a> 
and stuck them together with some <a href = "https://www.youtube.com/watch?v=5JynysLv9R4" style = "color: blue; text-decoration: underline;">JB weld </a> (metal epoxy):
<p> Here was me testing it at home (in similar operating conditions): </p> 
<iframe title="YouTube video player" src="https://www.youtube.com/embed/8Eh5Eah00Sc?start=94" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
<p> It worked! It was a lot more durable because it was metal and not made of plastic (though we did have to shave it down to fit the robot's dimensions).</p>
<p> Here's a picture of me and my team (unfortunately I couldn't find a picture of the entire team) doing an outreach events:</p> 
<img src="/img/meandtheboys.jpg" alt="Me and my teamates" /></img>
<p> Go Team 988: Steel Phoenix 🐦‍🔥!</p>
<h2>2019-2023</h2>
<p>The following are the projects I worked on while I was a student studying Computer Engineering (CpE) at the University of Nevada, Las Vegas (<a href = "https://www.unlv.edu/ece" style = "color: blue; text-decoration: underline;">UNLV)</a></p>
<h3>Departure Mood: An Emotionally Intelligent Airport Kiosk</h3>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/eoM-_BEpfh4" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>This was a project I did with architecture majors for <a href = "https://proxiima.com/las-vegas-makeathon-2" style = "color: blue; text-decoration: underline;"> Las Vegas Make-A-Thon 2.0 </a> hosted by UNLV. 
I was responsible for making the prototype, which was just an Arduino, a shield, some buttons, and LEDs. I think I could have done more, but we only had one day to make the prototype, and it was my first time working with Arduino.
We made it to team finals! I think the judges like our presentation and visuals a lot.</p>

<h3>CS:VO: A 2D Shooter</h3>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/v08HAqPxEKY" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>A single-player 2D version of CS:GO, where the player, map, and weapon projectiles were all ASCII characters. In the video, the '@' is the player moving and the 'A' is the bot moving. 
I thought it was cool because I used Djikstra's shortest path algorithm and the stack data structure I learned in class to make it work.</p>

<h3>Tremors: A Shooter Arcade Game on FPGA</h3>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/ypymxCGWwvQ" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>A game I made for my first submission to <a href = "https://eelabs.faculty.unlv.edu/index.html?navi=junior_design" style = "color: blue; text-decoration: underline;"> UNLV's Junior Design competition</a>. 
With the help of my partner, we made a shooter arcade game made in Verilog and deployed on the DE2-115 FPGA. We had to design the hardware to do everything (no operating system, compilers, or higher-level programming languages!).</p>

<h3>Disco 9: A Memory Matching Game on FPGA</h3>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/QqTe_SQA-rU" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>A game I made for my second submission to UNLV's Junior Design competition. 
I learned about linear-feedback shift register, and I thought its cyclical nature would be good for some pattern matching game. It won third place!</p>

<h3>SMP8: An 8-bit microprocessor</h3>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/YmW5DqQsdjg" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
<p>This is an 8-bit microprocessor that I designed in Verilog and deployed to a DE2-115 FPGA. I know it's not as visually appealing as the games, but I thought it was really cool making a CPU (albeit a very very primitive one.)</p>
<p>Here is the diagram of the <a href="https://docs.google.com/document/d/1cNmFJGYol2hDwvUg7Z4IkGo-v1-dCHTZq7IDEi2Qpjk/edit?usp=sharing" style = 'color: blue; text-decoration: underline;> microprocessor and the instructions </a> it could do. </p>

<h3>Embedded Systems: A Cool Radar</h3>
<p><iframe title="YouTube video player" src="https://www.youtube.com/embed/MTDmbBlDd_Y" width="560" height="315" frameborder="0" allowfullscreen="allowfullscreen"></iframe> 
This is a radar that could go from 0 to 180 degrees that I made with an ultrasonic distance sensor, a servo motor, and an Atmega328PB microcontroller for my embedded systems class.
The class really taught me how to be patient because with debugging because there was so many places things could go wrong (wiring, program logic, register configuration, and even buffer size!).</p> 
<p> It was all the more satisfying when things actually did work!</p>

<h3>Capstone Project: UFC Smart Grappling dummy</h3>
<p> This is my capstone project still under construction 🔨... </p>

<h3>Jon's Adventures in Tech Website</h3>
<p> You're on it right now! This is a way for me to learn web development fundamentals (HTML, CSS, and Javascript) and share my creations.</p>