---
title: Welcome! 
layout: layouts/base.njk
---
<style>
  .image-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .art-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin: 8px;
  }
</style>

<p>Here is a curated AI-generated art gallery that I made with the <a href = "https://www.midjourney.com/showcase/recent/" style = 'color: purple'> Midjourney AI </a>. I hope you enjoy 😊:</p>
<div class="image-wrapper">
  <img class="art-image" src="/img/AI_PIC1.PNG" alt="Flurry of innovation">
  <img class="art-image" src="/img/AI_PIC2.PNG" alt="Wonderful world of technology">
</div>
<div class="image-wrapper">
<img class="art-image" src="/img/AI_PIC3.PNG" alt="Cowboy robot surfing a cyber wave">
<img class="art-image" src="/img/AI_PIC4.PNG" alt="Cowboy robot coding his horse">
</div>
